@charset "utf-8";

/* 초기화 */

*{text-size-adjust:none; -webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch;}
*{margin:0; padding:0;}
*{word-wrap: break-word; word-break: break-all;}

html, body{/* font-family:"Noto Sans KR",sans-serif; */ width:100%; line-height:130%; font-size:13px; font-weight:400;}/* 문제카드 수식 이슈로 폰트 수정 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{margin:0; padding:0;}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block; border:0; *margin:0; *padding:0;}/* html5 */
table{width:100%; border-collapse:collapse; border-spacing:0;}
fieldset,img,iframe{border:0;}
img{vertical-align:top; max-width:100%;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
caption,legend{display:none;}
a:link,a:visited,a:active,a:hover{color:#7f8489; text-decoration:none;}

/* Form */
select,
input[type="text"],
input[type="radio"],
input[type="checkbox"],
input[type="password"],
input[type="file"],
button{display:inline-block; vertical-align:top; border-radius:0; font-family:"Noto Sans KR",sans-serif; letter-spacing:-1px;}
button{border:0; outline:none; cursor:pointer;}
label{display:inline-block; vertical-align:top; cursor:pointer;}
input[type="text"],
input[type="password"],
input[type="num"]{outline-style:none; -webkit-appearance:none; border:none;}
input[type='text']:disabled,
input[type='password']:disabled{background-color:#fff;}
input[type="file"]{border:solid 1px #bebebe; height:23px; color:#4c4c4c; background:#fff;}
input[type="checkbox"]{height:12px;}

textarea{box-sizing:border-box; overflow:auto; position:relative; display:inline-block; border:solid 3px #eaeaea; outline-style:none; padding:10px; font-size:13px; line-height:20px; color:#4c4c4c; resize:none; border-radius:0; -webkit-appearance:none; border-radius:5px; }
*:first-child+html input[type="text"]{top:-1px;}
.radio_con{position:relative; display:inline-block; margin-left:15px;}
.radio_con:first-child{margin-left:0;}

button::-moz-focus-inner{
		padding:0;
		border:0
;}

/* blind_con */
.blind_con{position:fixed; top:0; left:0; background:#000; width:100%; height:100%; z-index:99999; opacity:0; -ms-filter:"alpha(opacity=0)"; display:none;}

/*  Modal Popup  */
.modalBg{display:none; z-index:997; position:fixed; top:0; left:0; width:0; height:0%; background-color:#000;}
.modalPopupContainer{z-index:998; position:fixed; top:0; left:0;}
.modalPopupContainer .popupCon{z-index:999; position:absolute; top:0; left:0;}

/* custop checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{position:absolute; left:-9999px;}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label{position:relative; padding-left:20px; cursor:pointer;}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before{content:''; position:absolute; left:0; top:50%; width:15px; height:15px; margin-top:-8px; background:url('../images/common/icon_ichkbox2_off.png') no-repeat 0 50%; background-size:15px 15px;}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after{content:''; position:absolute; left:0; top:50%; width:15px; height:15px; margin-top:-8px; background:url('../images/common/icon_ichkbox2_on.png') no-repeat 0 50%; background-size:15px 15px;}
[type="checkbox"]:not(:checked) + label:after{opacity:0; transform:scale(0);}
[type="checkbox"]:checked + label:after{opacity:1; transform:scale(1);}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before{box-shadow:none; border-color:#bbb; background-color:#ddd;}
[type="checkbox"]:disabled:checked + label:after{color:#999;}
[type="checkbox"]:disabled + label{color:#aaa;}

/* custom radiobtn */
/* [type="radio"]:not(:checked),
[type="radio"]:checked{position:absolute; left:-9999px;}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label{position:relative; padding-left:20px; cursor:pointer;}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before{content:''; position:absolute; left:0; top:50%; width:15px; height:15px; margin-top:-8px; background:url('../images/common/icon_iradiobox_off.png') no-repeat 0 50%; background-size:15px 15px;}
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after{content:''; position:absolute; left:0; top:50%; width:15px; height:15px; margin-top:-8px; background:url('../images/common/icon_iradiobox_on.png') no-repeat 0 50%; background-size:15px 15px;}
[type="radio"]:not(:checked) + label:after{opacity:0; transform:scale(0);}
[type="radio"]:checked + label:after{opacity:1; transform:scale(1);}
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before{box-shadow:none; border-color:#bbb; background-color:#ddd;}
[type="radio"]:disabled:checked + label:after{color:#999;}
[type="radio"]:disabled + label{color:#aaa;} */

[type="radio"]{-webkit-appearance:none; -moz-appearance:none; appearance:none; width:15px; height:15px; border:none; background:url('../images/common/icon_iradiobox_off.png') no-repeat 0 50%; background-size:100% 100%;}
[type="radio"]:checked{background:url('../images/common/icon_iradiobox_on.png') no-repeat 0 50%; background-size:100% 100%;}
[type="radio"] + label{line-height:15px; vertical-align:top; margin-left:4px}

/* custom selectbox */
select{border-radius:0; vertical-align:middle; color:#666;}
select.select_box{
	width:100%;
	padding:3px 25px 3px 8px;
	background:#fff url('../images/common/select_arrow.png') no-repeat 100% 50%;
	background-size:auto 100%;
	border:1px solid #c0c0c0;
	border-radius:3px; /* iOS 둥근모서리 제거 */
	-webkit-appearance:none; /* 네이티브 외형 감추기 */
	-moz-appearance:none;
	appearance:none;
;}
select.select_box::-ms-expand{display:none;}/* IE 10, 11의 네이티브 화살표 숨기기 */

/* Common */
.blind{visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0;}

.al{text-align:left;}
.ac{text-align:center;}
.ar{text-align:right;}
.vt{vertical-align:top;}

.fl_l{float:left;}
.fl_r{float:right;}
.cl_both{clear:both;}

.fc_deepblue{color:#708494 !important;}
.fc_orange{color:#f58e30 !important;}

.mt2{margin-top:2px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt70{margin-top:70px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}
.mt110{margin-top:110px;}
.mt120{margin-top:120px;}
.mt130{margin-top:130px;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}

.ml2{margin-left:2px;}
.ml4{margin-left:4px;}
.ml5{margin-left:5px;}
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml70{margin-left:70px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}
.ml110{margin-left:110px;}
.ml120{margin-left:120px;}
.ml130{margin-left:130px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}

.brtn{border-top:0;}
.brrn{border-right:0;}
.brbn{border-bottom:0;}
.brln{border-left:0;}
.mtn{margin-top:0;}
.mrn{margin-right:0;}
.mbn{margin-bottom:0;}
.mln{margin-left:0;}

.emt{color:rgba(0, 0, 0, 0); font-size:0;}

.bg_sky{background:#e7edf2;}
.bg_skyblue{background:#f3f7fa;}
.bg_skyblue2{background:#f4f7f9;}
.bg_lightgray{background:#f4f4f4;}
